
.number {
  top: 20px;
  color: #fff;
  font-size: 1rem;
  font-weight: 600;
}
@media (min-width: 1024px) {
  .number {
    position: absolute;
    top: 20px;
    border-radius: 50%;
    color: #fff;
    font-size: 1rem;
    font-weight: 600;
  }
}