
.listItem__container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    align-items: center;
    padding: 15px 30px;
    margin: 20px 15px;
    gap: 20px;
    
}